.container {
  width: 50%; 
  margin: auto; 
}
.btn_contenair{
  display: flex;
  justify-content: space-between;
}

.input-group {
  margin-bottom: 1rem; 
}

.input-group-text {
  background-color: #007bff; 
  color: #fff; 
  border-color: #007bff; 
  cursor: pointer; 
}

.form-control {
  display: none; 
}

button {
  background-color: #28a745; 
  color: #fff;
  width: auto; 
  height: 38px; 
  border: none; 
  padding: 0.5rem 1rem; 
  cursor: pointer; 
}

button:hover {
  background-color: #218838;
}
